* {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

html,
body {
    overflow: hidden;
}

body {
    display: table;
}

#ui-category, #ui-content {
    display: table-cell;
    height:  100vh;
}

#ui-category {
    width: 300px;
    background-color: #ccc;
}

#ui-content { 
}